@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.social-buttons{
  display:inline-block;
  text-align:center;
}
  

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
   box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
  }
  /* Facebook Button Styling */
 .facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
   
  }
  .facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
  }
  /* Twitter Button Styling */
.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
    
  }
  .twitter:hover {
    background-color: #ffffff;
    color: #55acee;
  }
  /* Google+ Button Styling */
  .google-plus {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 2px;
    background-color: #dd4b39;
    color: #ffffff;
    border-color: #dd4b39;
    
  }
  .google-plus :hover {
    background-color: #ffffff;
    color: #dd4b39;
  }
  /* Linkedin Button Styling */
  .linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
    
  }
  .linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
  }
  /* Pinterest Button Styling */
.pinterest {
    font-size: 22px;
    padding-top: 9px;
    background-color:  #cb2027;
    color: #ffffff;
    border-color:  #cb2027;
    
  }
  .pinterest:hover {
    background-color: #ffffff;
    color:  #cb2027;
  }
  /* Behance Button Styling */
  .behance {
    font-size: 22px;
    padding-top: 9px;
    background-color: #1769ff;
    color: #ffffff;
    border-color: #1769ff;
    
  }
  .behance :hover {
    background-color: #ffffff;
    color: #1769ff;
  }

  /* Github Button Styling */
 .github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;
    
  }
  .github:hover {
    background-color: #ffffff;
    color: #4183c4;
  }
  /* Youtube Button Styling */
 .youtube {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #bb0000;
    color: #ffffff;
    border-color: #bb0000;
    
  }
  .youtube  :hover {
    background-color: #ffffff;
    color: #bb0000;
  }
  /* Soundcloud Button Styling */
  .soundcloud {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #ff3a00;
    color: #ffffff;
    border-color: #ff3a00;
    
  }
  .soundcloud :hover {
    background-color: #ffffff;
    color: #ff3a00;
  }


.switch {
	height: 24px;
	display: block;
	position: relative;
	cursor: pointer;
}

.switch input {
	display: none;
}

.switch input + span {
	padding-left: 50px;
	min-height: 24px;
	line-height: 24px;
	display: block;
	color: #99A3BA;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	transition: color .3s ease;
}

.switch input + span:before, .switch input + span:after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 12px;
}

.switch input + span:before {
	top: 0;
	left: 0;
	width: 42px;
	height: 24px;
	background: #E4ECFA;
	transition: all .3s ease;
}

.switch input + span:after {
	width: 18px;
	height: 18px;
	background: #fff;
	top: 3px;
	left: 3px;
	box-shadow: 0 1px 3px rgba(18, 22, 33, 0.1);
	transition: all .45s ease;
}

.switch input + span em {
	width: 8px;
	height: 7px;
	background: #99A3BA;
	position: absolute;
	left: 8px;
	bottom: 7px;
	border-radius: 2px;
	display: block;
	z-index: 1;
	transition: all .45s ease;
}

.switch input + span em:before {
	content: '';
	width: 2px;
	height: 2px;
	border-radius: 1px;
	background: #fff;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	margin: -1px 0 0 -1px;
}

.switch input + span em:after {
	content: '';
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #99A3BA;
	border-bottom: 0;
	width: 6px;
	height: 4px;
	left: 1px;
	bottom: 6px;
	position: absolute;
	z-index: 1;
	transform-origin: 0 100%;
	transition: all .45s ease;
	transform: rotate(-35deg) translate(0, 1px);
}

.switch input + span strong {
	font-weight: normal;
	position: relative;
	display: block;
	top: 1px;
}

.switch input + span strong:before, .switch input + span strong:after {
	font-size: 14px;
	font-weight: 500;
	display: block;
	font-family: 'Mukta Malar', Arial;
	-webkit-backface-visibility: hidden;
}

.switch input + span strong:before {
	content: '';
	transition: all .3s ease .2s;
}

.switch input + span strong:after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	color: #5628EE;
	transition: all .3s ease;
	transform: translate(2px, 0);
}

.switch input:checked + span:before {
	background: rgba(86, 40, 238, 0.35);
}

.switch input:checked + span:after {
	background: #fff;
	transform: translate(18px, 0);
}

.switch input:checked + span em {
	transform: translate(18px, 0);
	background: #5628EE;
}

.switch input:checked + span em:after {
	border-color: #5628EE;
	transform: rotate(0deg) translate(0, 0);
}

.switch input:checked + span strong:before {
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	transform: translate(-2px, 0);
}

.switch input:checked + span strong:after {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	transition: all .3s ease .2s;
}

html {
	-webkit-font-smoothing: antialiased;
}

body .switch {
	display: table;
	margin: 12px auto;
	min-width: 118px;
}

body .dribbble {
	position: fixed;
	display: block;
	right: 20px;
	bottom: 20px;
}


.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  .h{
	  border-color: rgb(51, 204, 255);
	  color: black;
	  background-color: #ffffff00;
  }

  .h:hover {
	border-color: rgb(51, 204, 255);
	color: white;
	background-color: rgb(51, 204, 255);
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  .not-opac {
	  opacity: 1;
  }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }